@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --nav-color: #000000;
    --primary-color: #001f38;
    --contain-color: #001f38;
    --color-font: white;
    --color-title: black; 
    --background-color: black;
}

.sour-gummy-font {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

*{
    margin: 0;
    padding: 0;
}
*::selection{
    background-color: var(--color-font);
    color: black;
}

body{
    font-family: "Sour Gummy";
    color: white;
    /* background-image: url(../images/fondo.jpg); */
    background-color: var(--background-color);
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;  
    height: 100vh;  
    margin: 0;
     --scrollbar-width: 10px; --scrollbar-height: 0px; --scrollbar-border-radius: 0px; --scrollbar-thumb-color: var(--primary-color); --scrollbar-border-thickness: 0px; } body::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); }body::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #a1a1aa00); }body::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); 
    }



.navegation{
    background-color: #00000000;
    color: var(--color-font);
    display: flex;
    height: 70px;
    width: 98.5vw;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    animation: animation-scroll-nav linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 250px;
    z-index: 9999;
}

@keyframes animation-scroll-nav{
    to{ 
        background-color: var(--contain-color);
        color: var(--color-font);
    }
}


.icon-menu{
    margin: 10px ;
    padding: 2px;
    font-size: 25px;
}

.icon-menu:hover{
    color: #011826;

}

.menu-content {
    display: none;
    position: fixed;
    background-color: var(--contain-color);
    min-width: 280px;
    height: auto;
    padding: 16px 16px;
    border: #011826 1px solid;
    font-size: 25px;
}

.menu:hover .menu-content {
    display: block;
    
}

.lista-menu{
    list-style: none;
}

.lista-menu a{
    color: var(--color-font);
    text-decoration: none;
}

.profile{
    display: flex;
    align-items: center;
}

.img-profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
    padding:5px;
}

.profile-text{
    font-size: 20px;
}


.navegation .icon {
    height: 40px;
    width: 40px;
    margin:0px 8px;   
    font-size: 25px;
    color: white;
}

.navegation .icon:hover {
    color: gray;  
}



.container-title{
    color: var(--color-font);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}



.container-title .img-title {
    height: 250px;
    width: 250px;
    margin: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.content-text-title{
    margin: 15px;
    text-align: center;
}


.container-title .text-title{
    font-size: 90px;
    animation-name: title-deslizing;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes title-deslizing{
    from{
        transform: translateY(100px);
        opacity: 0.1;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.cv-but{
    height: 40px;
    padding: 7px;
    margin: 2px;
    background-color: var(--color-font);
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 10px var(--contain-color);
    animation-name: button-deslizing;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition: all 300ms ease-in-out;
}

@keyframes button-deslizing{
    from{
        transform: translateY(100px);
        opacity: 0.1;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.cv-but:hover{
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: var(--primary-color) 0.5px solid;
    scale: 1.1;
    transition-duration: 2s;
    box-shadow: 5px 5px 5px var(--color-font);
}



.info-myprofile{
    display: flex;
    margin:  0 100px;
}

.container-im{
    flex: 1;
    margin: 0 100px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 15px;
    border: 1px solid var(--contain-color);
    box-shadow: 10px 10px 10px rgba(1, 37, 54, 0.315); 
    animation-name:container-im-deslizing;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes container-im-deslizing{
    from{
        transform: translateX(-100px);
        opacity: 0.1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}



.container-studies{
    flex: 1;
    margin: 0 100px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 15px;
    border: 1px solid var(--contain-color);
    box-shadow: 10px 10px 10px rgba(1, 37, 54, 0.315); 
    animation-name: container-studies-deslizing;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes container-studies-deslizing{
    from{
        transform: translateX(100px);
        opacity: 0.1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}



.st-title{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 15px;   
}


.soy-dev{
    font-size: 20px;
    text-align: center;
    margin: 40px 100px;
}

.card-studied{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 5px;
}

.overview-title-studies{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    font-weight: 600;
}


.overview-studies{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}


/*modulo my services*/
.my-services{
    margin: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    
}


.services {
    display: flex;
    justify-content: center;
    overflow-x: auto; 
}


.card-services{
    background-color: var(--contain-color);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 13px;
    width: 170px;
    display: flex;
    flex-direction: column;
    border: #ffffff 0.1px solid;
    animation: container-card-deslizing linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 700px;
}


@keyframes container-card-deslizing{
    from{
        transform: translatex(-100px);
        opacity: 0.1;
    }
    to{
        transform: translatex(0px);
        opacity: 1;
    }
}


.card-services:hover{
    background-color: rgb(119, 119, 119);
    scale: 0.95;
}

.title-serv-card{
    font-weight: 700;
    font-size: 20px;
    height: 60px;
}

.description-serv-card{
    font-size: 15px;
    align-items: center;
    margin-top: 30px;
}


/*Modulo de experiencias*/
.container-experiences{
    padding: 20px;
    margin: 100px 120px;
    height: 500px;
    border-radius: 15px;
    
    
}

.card-experiences{
    border: 1px solid var(--contain-color);
    box-shadow: 10px 10px 10px rgba(1, 37, 54, 0.315); 
    border-radius: 15px;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;   
    width: 300px;
    height: 300px;
    transition: all, 5s, linear, 1s;
}


.card-experiences:hover{
    background-color: var(--primary-color);
    color: white; 
    scale: 1.1;
}

.title-exp{
    text-align: center;
    font-size: 50px;
    margin: 10px;
    padding: 5px;
    
}

.cards{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.overview-title-experiencies{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.overview-info-experiences{
    font-size: 16px;
    margin: 5px;
    padding: 5px;
}

.overview-experiencies{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}




/*dev tools*/

.dev-tools{
    height: 500px;
    display: flex;
    padding: 40px;
    margin: 0 120px;

}

.sr-title{
    text-align: center;
    font-size: 35px;
    margin: 10px;
    padding: 5px;
    color: var(--color-font);
}

/*Tecnologias*/

.overview-tecnologis{
    flex: 1;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: var(--color-font);
    
}



.overview{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    height: 380px; 
    --scrollbar-width: 10px; --scrollbar-height: 0px; --scrollbar-border-radius: 0px; --scrollbar-thumb-color: var(--primary-color); --scrollbar-border-thickness: 0px; 
}
.overview::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); 
}
.overview::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); 
}
.overview::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #a1a1aa00); 
}
.overview::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); 
}
.overview::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); }

.card-tecnology{
    flex: 1;
    border-radius: 15px;
    margin: 25px;
    text-align: center;
    width: 200px;
    height: 300px;

}

.icon-leng{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: #011826 2px solid;
    object-fit: contain;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition: all 300ms ease-in-out;
}
.icon-leng:hover{
    border: var(--primary-color) 2px solid;
    object-fit: cover;
    scale: 1.1;
    animation-name: icon-tec-animation;

}

.description-tecnology{
    font-size: 20px;
}


.my-proyects{
    flex: 1;
    text-align: center;
    border: var(--contain-color) 1px solid;
    box-shadow: 10px 10px 10px rgba(1, 37, 54, 0.315); 
    border-radius: 15px;
    margin: 10px;
    background-color: var(--nav-color);
    
}

.my-proyects:hover{
    animation-name: border-custom;
    animation-duration: 5s;
    animation-iteration-count: 10; 
}

@keyframes border-custom{
    0%{
        border: 1px solid var(--background-color);
    }
    20%{
        border: 1.5px solid var(--contain-color);
    }
    40%{
        border: 1px solid var(--background-color);
    }
    60%{
        border: 1.5px solid var(--contain-color);
    }
    80%{
        border: 1px solid var(--background-color);
    }
    100%{
        border: 1.5px solid var(--contain-color);
    }
}

.cards-proyect{
    display: flex;
    justify-content: center;
}

.card-proyects{
    font-size: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 30px;   
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
}


.contact{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.container-form{
    width: 700px;
    background-color: var(--contain-color);
    padding: 50px;
    margin: 50px;
    
}

.form{
    text-align: center;
}

.form li{
    list-style: none;
    font-size: 20px;
    margin: 10px;
    border: 0;
    
}


.form input{
    background-color: var(--color-font);
    height: 20px;
    width: 500px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 15px;
}


.form textarea{
    background-color: var(--color-font);
    width: 500px;
    height: 100px;
    padding: 5px;
    resize: none;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 15px;
}

.form button {
    height: 35px;
    width: 100;
    padding: 7px;
    margin: 2px;
    background-color: var(--color-font);
    border-radius: 10px;
    border: none;
}
.form button:hover {
    background-color: var(--color-title);
    color: var(--color-font);
    
}


/*----------------------*/

.card-info-contact{
    width: 700px;
    background-color: var(--contain-color);
    padding: 50px;
    margin: 50px;

}

.title-contact{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    margin-top: -10px;
    padding: 5px;
    font-weight: 600;
}


.contact-info{
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
}

.contact-info-1{
    margin: 10px;
    font-size: 20px;
    font-weight: 100;
}

footer{
    background-color: var(--contain-color);
    text-align: center;
    font-size: 12px;
    width: 100%;

}

.card-info-contact .icon {
    height: 40px;
    width: 40px;
    margin:0px 8px;   
    font-size: 25px;
    color: white;
}

.card-info-contact .icon:hover {
    color: gray;  
}

@media (min-width: 320px) and (max-width: 767px){


    .navegation{
        height: 30px;
        width: 112vw;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .img-profile{
        height: 30px;
        width: 30px;

    }

    .navegation .icon {
        height: 10px;
        width: 10px;
        margin:0px 8px;   
        font-size: 20px;
    }

    .container-title{
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    
    }
    
    .container-title .text-title{
        font-size: 50px;
    }
    
    .cv-but{
        height: 40px;
        width: 100px;
        font-size: 8px;
    }

  

    .info-myprofile{
        display: inline-block;
        margin:  0 10px;
    }
    
    .container-im{
        margin: 0 10px;
        padding: 10px;
        height: 200px;
    }
    
    
    
    .container-studies{
        flex: 1;
        margin: 10px 10px;
        padding: 5px;
        height: 250px;
    }
    
    
    
    .st-title{
        font-size: 15px;
        margin: 10px;
        padding: 10px;

    }
    
    
    .soy-dev{
        font-size: 15px;
        text-align: center;
        margin: 10px 15px;
    }

    

    .card-studied{
        font-size: 10px;
        margin: 4px 0px;
        padding: 2px;
    }
    
    .overview-title-studies{
        font-size: 15px;
        margin: 5px;
        padding: 5px;
    }
    
    
    .overview-studies{
        font-size: 10px;
        margin: 5px;
        padding: 5px;
    }

      /*aqui ya */

      /*modulo my services*/
    .my-services{
        margin: 10px;
    }

    .services{
        overflow-x: auto;
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: flex-start;
    }


    .card-services{
        justify-content: center;
        margin: 4px;
        padding: 4px;
        width: 150px;
        height: 150px;
        
    }

    .card-services:hover{
        background-color: rgb(119, 119, 119);
    }

    .title-serv-card{
        font-weight: 700;
        font-size: 10px;
        height: 15px;
    }

    .description-serv-card{
        font-size: 8px;
        height: 1;
        align-items: center;
        margin-top: 30px;
    }

    /* hasta aca no jajajjaja*/

    /*Modulo de experiencias*/

    .container-experiences{
        padding: 10px;
        margin: 40px 60px;
        height: 40%;
        border-radius: 15px;
    }


    .card-experiences{   
        width: 100%;
        height: 30%;
        padding: 8px;
    }


    .title-exp{
        font-size: 30px;
        margin: 5px;
        padding: 2px; 
    }

    .cards{
        margin-top: 5px;
    }

    .overview-title-experiencies{
        font-size: 20px;
        margin: 2px;
        padding: 1px;
    }

    .overview-info-experiences{
        font-size: 15px;
        margin: 2px;
        padding: 1px;
    }

    .overview-experiencies{
        font-size: 15px;
        margin: 2px;
        padding: 1px;
    }

   

    .card-tecnology{
        padding: 10px;
        margin: 10px;
        height: 280px;
    }

    .my-proyects{
        height: 250px;
    }


    /*dev tools*/


    .dev-tools{
        height: 820px;
        display: inline-block;
        padding: 10px;
        margin: 0 10%;
    }

    .sr-title{
        text-align: center;
        font-size: 30px;
        margin: 5px;
        padding: 5px;
        font-weight: 700;
    }
    .contact{
        width: 95%;
        height: 70px;
        display: inline-block;
    }

    .container-form{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .form li{
        list-style: none;
        font-size: 15px;
        margin: 15px;
        border: 0;
        
    }


    .form input{
        height: 15px;
        width: 300px;
        padding: 5px;
        margin-left: 5px;
        border-radius: 15px;
        font-size: 15px;
    }


    .form textarea{
        width: 300px;
        height: 200px;
        padding: 2px;
        font-size: 20px;   
        margin-top: 20px;

    }

    .form button {
        height: 35px;
        width: 50;
        padding: 7px;
        margin: 2px;
    }

    /*----------------------*/

    .card-info-contact{
        width: 100%;
        padding: 2px;
        margin: 2px;
    }

    .title-contact{
        text-align: center;
        font-size: 20px;
        margin: 5px;
        padding: 5px;
        font-weight: 600;
    }

    footer{
        text-align: center;
        font-size: 12px;
    }

    .creditos{
        font-size: 15px;
        margin-top: 10px;
        padding: 10px;
        height: 50px;
    }



}